asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
bcrypt==3.1.4
certifi==2018.8.24
cffi==1.11.5
click==6.7
cryptography==2.4.2
Flask==1.0.2
idna==2.8
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
mysql-connector-python==8.0.13
pluggy==0.8.0
protobuf==3.6.1
py==1.7.0
pycparser==2.19
PyJWT==1.7.0
pytest==4.0.1
six==1.11.0
SQLAlchemy==1.2.14
Werkzeug==0.14.1
